  {{#list-filter
    filter=(action 'filterByCity')
    as |rentals|
  }}
      <ol class="results">
        {{#each rentals as |rentalItem|}}
          <li>{{rental-listing rental=rentalItem}}</li>
        {{/each}}
      </ol>
  {{/list-filter}}