<div class="jumbo">
  <div class="right tomster"></div>
  <h2>Welcome!</h2>
  <p>We hope you find exactly what you're looking for in a place to stay.</p>
  {{#link-to 'about' class="button"}}
    About Us
  {{/link-to}}

  {{#list-filter
    filter=(action 'filterByCity')
    as |rentals|
  }}
      <ol class="results">
        {{#each rentals as |rentalItem|}}
          <li>{{rental-listing rental=rentalItem}}</li>
        {{/each}}
      </ol>
  {{/list-filter}}
</div>